@use '../variables' as v;

.post-card {
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 3px 12px 0 #ebebeb;
	transition: all ease 0.3s;
	text-align: left;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 2px 30px 0 #ced3d6;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

.info {
	text-align: left;
	height: 100%;

	&__image {
		width: 100%;
		height: 220px;
	}

	&__head {
		padding: 5px 15px 15px 15px;
	}
	&__meta {
		font-weight: 500;
		font-size: 0.9rem;
		letter-spacing: 0.5px;
		display: flex;
		align-items: center;
		color: v.$gray;
		margin-bottom: 10px;
	}

	&__separator {
		display: inline-block;
		margin: 0 7px;
		padding: 2.5px;
		border-radius: 2.5px;
		background-color: v.$gray;
	}

	&__title {
		font-size: 2rem;
		letter-spacing: 0.5px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 1.5px;
		margin-bottom: 20px;
	}

	&__sub {
		letter-spacing: 0.5px;
		line-height: 1.5;
	}

	&__tags {
		letter-spacing: 0.5px;
		font-size: 0.9rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		color: v.$secondary;
		gap: 8px;
		padding: 0 15px 15px 15px;
	}

	&__tag {
		display: inline-block;
		padding: 1px 8px;
		border-radius: 14px;
		border: 1px solid v.$soft;
	}

	&__tag:hover {
		background-color: rgba(192, 192, 192, 0.133);
	}
}
