@use "../variables" as v;

.header {
  width: 100%;
  background-color: v.$white;
  padding: 10px 0;

  &__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__panel {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__login-panel {
    width: 100%;
    background-color: black;
    padding: 5px;
    text-align: center;
  }

  &__auth-link {
    color: white !important ;
    margin: 0 5px;
  }
}
