.footer {
	width: 100%;
	min-height: 200px;
	background: #feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
	padding: 80px 30px 30px 30px;
	letter-spacing: 0.5px;

	&__paragraph {
		text-align: center;
		margin: 0 auto;
		width: 80ch;
		margin-bottom: 80px;
	}
	&__bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
