.header {
  width: 100%;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 1.2rem;
  // background-color: antiquewhite;
  &__wrapper {
    width: 1280px;
    // background-color: pink;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    //tu zrobię to samo co z footerem czyli wrapper wypierdalam i jego style wchodzą do headera
    margin-top: 20px;
    padding: 10px 30px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  &__list-item {
    display: inline-block;
    margin: 0 10px;
  }

  &__logins {
    display: flex;
    gap: 15px;
  }

  &__sign {
    border-radius: 10px;
    &--in {
      background-color: rgb(240, 233, 226);
    }

    &--up {
      background-color: black;
      color: white;
    }
  }
}
